.form-container {
  background-color: white;
  width: 80%;
  border-radius: 10px;
  overflow: hidden;

  height: 90%;
  display: flex;
  align-items: center;
}

.form-container .login-container {
  width: 500px;
  margin: 0 auto;
}
.form-container .login-container > h2 {
  text-align: center;
  font-size: 2.5rem;
}

.form-container .login-container > p,
.form-container .login-container > span {
  text-align: center;
  color: #555;
}

.form-container .login-container label {
  display: block;
  font-weight: bold;
  padding: 5px 0;
}
.form-container .login-container input.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: solid 1px #ccc;
  border-radius: 5px;
}

.form-container .login-container input.input:focus {
  outline: solid 1px #0099ff;
}

.form-container .login-container .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-container a {
  color: #0099ff;
  text-decoration: none;
}
.form-container a:hover {
  text-decoration: underline;
}

.form-container .login-container .providers {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  margin-bottom: 40px;
}

.btn {
  border: none;
  padding: 15px 0;
  width: 100%;
  font-weight: bolder;
  display: block;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn.btn-login {
  background-color: black;
  color: white;
}
.btn.btn-login-register {
  background-color: rgb(94, 94, 160);
  color: white;
}

.btn.btn-login:hover {
  background-color: #333;
}

.btn.btn-facebook {
  background-color: #166fe5;
}
.btn.btn-facebook:hover {
  background-color: rgb(8, 69, 182);
}

.btn.btn-google {
  background-color: white;
  color: black;
  border: solid 1px #ccc;
}
.btn.btn-google:hover {
  background-color: rgb(240, 240, 250);
}

.btn.btn-twitter {
  background-color: rgb(10, 168, 216);
  color: white;
}
.btn.btn-twitter:hover {
  background-color: rgb(8, 137, 177);
}

.form-container .welcome-screen-container {
  background-image: url("../images/login-image.jpg");
  background-repeat: round;

  width: 50%;
  height: 100%;
}
@media screen and (max-height: 576px) {
  .form-container {
    height: 98%;
  }
}

@media screen and (max-width: 1357px) {
  .form-container {
    width: 95%;
  }

  .form-container .login-container {
    width: 400px;
    margin: 0 auto;
  }

  .form-container .welcome-screen-container {
    width: 40%;
  }
}

@media screen and (max-width: 900px) {
  .form-container {
    height: 90%;
  }
  .form-container .login-container {
    width: 350px;
  }
  .form-container .welcome-screen-container {
    display: none;
  }
}
